<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/static/css/main.css">
      <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <link rel="stylesheet" href="/static/css/admin.css">
    <script src="https://kit.fontawesome.com/fbc8a75355.js" crossorigin="anonymous"></script>
      <link rel="shortcut icon" href="/static/img/logo.ico" type="image/x-icon">
<title>Speed Score</title>
  </head>
  <body>
    <div id="wrapper" class="admin">

      <header>
        {% include "menu.html" %}
      </header>
    
      <main>
        <section id="title">

          <h1>Users</h1>
          <div class="settings">
            <a href="/signup"><i class="fa-solid fa-plus"></i> Ajouter un utilisateur</a>
          </div>
        </section>
        <div class="separator"></div>
        <section id="content" class="table">
          <table>
            <thead>
              <tr>
                <th scope="col" class="settings-row">Id</th>
                <th scope="col" class="settings-row">Image</th>
                <th scope="col">Pseudo</th>
                <th scope="col">Email</th>
                <th scope="col">Nationalité</th>
                <th scope="col" class="settings-row">Admin</th>
                <th scope="col" class="settings-row">Modifier</th>
                <th scope="col" class="settings-row">Supprimer</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                  <th scope="row" class="settings-row">{{user.id_user}}</th>
                  <td class="settings-row" id="profile-image-users"><img src="/static/img/users/{{user.profile_picture_name}}" alt="Photo de profil"></td>
                  <td>{{user.username}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.nationality}}</td>
                  <td class="settings-row">{{user.admin}}</td>
                  <td class="settings-row"><a href="/user/edit/{{user.id_user}}"><i class="fa-solid fa-pen" style="color: lightskyblue;"></i></a></td>
                  <td class="settings-row"><a href="/user/delete/{{user.id_user}}"><i class="fa-solid fa-trash" style="color: red;"></i></a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </section>

      </main>
    </div>

    
  </body>
</html>