<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <script src="https://kit.fontawesome.com/fbc8a75355.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/static/img/logo.ico" type="image/x-icon">
<title>Speed Score</title>
  </head>
  <body>
    <div id="wrapper" class="admin">

        <header>
          {% include "menu.html" %}
        </header>
      
        <main>
          <section id="title">
            <h1>Ajouter une catégorie</h1><a href="/admin_category" class="button">Retour</a>
          </section>
          <div class="separator"></div>
          <section id="content">
              <form action="" method="POST">
                  <div>
                      <label for="label">Nom de la catégorie </label>
                      <input id="label-input" type="text" name="label" minlength="1" maxlength="20" required="required" {% if ctg and ctg[0] %} value="{{ctg[0].label}}" {% endif %}>
                  </div>
                  <div>
                      <label for="description">Description </label>
                      <textarea id="description-input" name="description" rows="5" cols="33" maxlength="500">{% if ctg and ctg[0] %}{{ ctg[0].description if ctg[0].description else '' }}{% endif %}</textarea>
                  </div>
                  <input type="submit" value="Ajouter" class="button">
              </form>
          </section>
        </main>
      </div>
  </body>
</html>