<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/css/admin.css">
    <script src="https://kit.fontawesome.com/fbc8a75355.js" crossorigin="anonymous"></script>
    <title>Speed Score</title>
  </head>
  <body>
    <div id="wrapper" class="admin">

      <header>
        {% include "menu.html" %}
      </header>
    
      <main>
        <section id="title">
          <h1>Mon profil</h1>
        </section>
        <div class="separator"></div>
        <section id="content">
          <h2>{{user[0].username}}</h2>
          <p> {{user[0].email}} </p>
          <p> {{user[0].nationality}} </p>
      
          <a href="/admin_games">Administrer les jeux</a>
          <a href="/admin_categories">Administrer les catégories</a>
          <a href="/admin_sessions">Administrer les sessions</a>
          <a href="/admin_users">Administrer les utilisateurs</a>
          <a href="/logout">Déconnexion</a>
        </section>
      </main>
    </div>


    <a href="/sessions">Voir les sessions</a>
    <a href="/user/edit/{{user[0].id_user}}">Modifier son profil</a>
    <a href="/logout">Deconnexion</a>
    

  </body>
</html>