<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/static/css/menu.css">
      <title>Speed Score</title>
  </head>
  <body>
    {% include "menu.html" %}
    <h1>HOME</h1>

    {% for ctg in infos_categories %}
        <p>{{ctg.label}} : {{ctg.nb_of_games}} {% if ctg.nb_of_games <= 1 %} jeu {% else %} jeux {% endif %} - {{ctg.nb_of_sessions}} {% if ctg.nb_of_sessions <= 1 %} session {% else %} sessions {% endif %} </p>
    {% endfor %}
    <p>{{log_user}}</p>

  </body>
</html>
  

