<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Serveur absences</title>
  </head>
  <body>
    <h1>Liste de jeu</h1>
    <table>
        {% for onegame in games %}
            <tr>                               
                <td>{{onegame.name}}</td>
                <td>{{onegame.price}}</td>
                <td>{{onegame.description}}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="/saisie">Retour au formulaire</a>
  </body>
</html>


<!-- tr : lignes  &  td : colonnes -->