
    <header>
        <nav>
            <ul>
                <li id="header_home"><a href="/">Home</a></li>
                <li id="header_games"><a href="/games">Games</a></li>
                <li id="header_search"><form action="/search" method="GET"><input type="search" id="games-search" name="games-search" placeholder="Search"/></form></li>
                <li id="header_signin"><a href="/signin">Sign in</a></li>
                <li id="header_signup"><a href="/signup">Sign up</a></li>
            </ul>
        </nav>
    
    {% if 'username' in session %}
        <h1>Welcome, {{ session['id_user'] }}!</h1>
        <h1>Welcome, {{ session['email'] }}!</h1>
        <h1>Welcome, {{ session['username'] }}!</h1>
        <h1>Welcome, {{ session['profile_picture'] }}!</h1>
        <h1>Welcome, {{ session['nationality'] }}!</h1>
        <h1>Welcome, {{ session['admin'] }}!</h1>
    {% else %}
        <h1>NON</h1>
    {% endif %}

    </header>

