
        <div class="logo">
            <a href="/">
                <img src="/static/img/logo.svg" alt="logo speedscore">
            </a>
        </div>
        <nav>
            <ul>
                <li id="header_home"><a href="/">Accueil</a></li>
                <li id="header_games"><a href="/games">Jeux</a></li>

                <li id="header_search"><form action="/search" method="GET"><input type="search" id="games-search" name="games-search" placeholder="Rechercher"/></form><div class="icon"><i class="fa-solid fa-magnifying-glass"></i></div></li>
                {% if 'username' in session %}
                    <li id="header_signin"><a href="/users/{{session['id_user']}}" id="profile-picture-container"><img src="/static/img/users/{{session['profile_picture_name']}}" alt="Profil" id="profile-picture"></a></li>
                {% else %}
                    <li id="header_signin"><a href="/signin" class="button">Connexion</a></li>
                {% endif %}

            </ul>
        </nav>

