<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../static/css/menu.css">
      
      <title>Speed Score</title>
  </head>
 
  <body>
    {% include "menu.html" %}
    <form action="" method="POST">
      <div>
          <label for="user_name">Prenom Nom:</label>
          <input id="user_name" type="text" name="user_name" required="">
      </div>
      <div>
          <label for="psw">Mot de passe :</label>
          <input id="psw" type="password" name="psw" required="">
      </div>
      <input id="button_signup" type="submit" value="Sign in">

  </form>
    <h1>{{texte}}</h1>
  </body>
</html>
  
