<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <script src="https://kit.fontawesome.com/fbc8a75355.js" crossorigin="anonymous"></script>
    <title>Speed Score</title>
  </head>
 
  <body>
    <div id="wrapper">

      <header>
        {% include "menu.html" %}
      </header>
    
      <main>
        <section id="title">
          <h1>Connexion</h1>
          <div class="settings">
            <p>Vous n'êtes pas enregistré ?    <a href="/signup" class="button">Créer un compte</a></p>
          </div>
        </section>
        <div class="separator"></div>
        <section id="content">
          <p class="warning">{{data}}</p>
          <form action="/signin" method="POST">
            <div>
                <label for="email">Email</label>
                <input id="email" type="text" name="email" required="">
            </div>
            <div>
                <label for="psw">Mot de passe</label>
                <input id="psw" type="password" name="psw" required="">
            </div>
            <input id="button_signup" class="button" type="submit" value="Connexion">
      
        </form>
        </section>
      </main>
    </div>
  </body>
</html>
  
