<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/static/css/menu.css">
      <title>Speed Score</title>
  </head>
  <body>
    {% include "menu.html" %}
    
    <form action="" method="POST">
        <div>
            <label for="name">Nom du jeu</label>
            <input id="name" type="text" name="name" required>
        </div>
        <div>
            <label for="released_date">Date de sortie :</label>
            <input id="released_date" type="date" name="released_date" required>
        </div>
        <div>
            <label for="description">Description :</label>
            <textarea id="description" type="text" name="description" required></textarea>
        </div>
        <div>
            <label for="image">Image du jeu :</label>
            <input id="image" type="text" name="image">
        </div>
        <input type="submit" value="Ajouter">
    </form>

  </body>
</html>