<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <link rel="stylesheet" href="/static/css/game.css">
    <script src="https://kit.fontawesome.com/fbc8a75355.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/static/img/logo.ico" type="image/x-icon">
<title>Speed Score</title>
  </head>
  <body>
    <div id="wrapper">

      <header>
        {% include "menu.html" %}
      </header>
    
      <main>
        <section id="title">
          <h1>Jeux</h1>
        </section>
        <div class="separator"></div>
        <section id="content">
          <ul id="game-list">
            {% for game in games %}
            <li class="game-item">
              <a href="games/{{game.id_game}}">
                <div class="img">
                  {% if game.image %}
                    <img src="/static/img/games/{{game.image}}" alt="image {{game.name}}">
                  {% else %}
                    <img src="/static/img/games/default-game.png" alt="no image">
                  {% endif %}
                </div>
                <div class="info-game">
                  <div class="name">{{game.name}}</div>
                  <div class="descr">
                    {% if game.description | length <= 100 %}
                        {{ game.description }}
                    {% else %}

                        {{ game.description[:100] }}[...]
                    {% endif %}
                  </div>
                </div>
              </a>
              <div class="separator"></div>
            </li>
            
            {% endfor %}
          </ul>
        </section>
      </main>
    </div>


  </body>
</html>

