<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://kit.fontawesome.com/fbc8a75355.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="/static/css/main.css">
      <link rel="stylesheet" href="/static/css/menu.css">
      <title>Speed Score</title>
  </head>
  <body>
    {% include "menu.html" %}
    <h1>HOME</h1>

    {% for game in games %}

        <a href="games/{{game.id_game}}">{{game.name}}</a>

    {% endfor %}

  </body>
</html>