<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <script src="https://kit.fontawesome.com/fbc8a75355.js" crossorigin="anonymous"></script>
    <title>Speed Score</title>

    <script>
      function updateList(id_game, id_ctg) {
        fetch('/get_session_from_game_category?id_game='+id_game+'&id_ctg='+id_ctg)
                    .then(response => response.json())
                    .then(sessions => {
                      console.log(sessions)
                        updateSessionList(sessions)
                    })
                    .catch(error => {
                        console.error('Error fetching sessions:', error)
                    });
      }
      function updateSessionList(sessions) {
          let sessionsList = document.getElementById('listOfSessions')
          sessionsList.innerHTML = '';
          
          for (let i = 1; i <= sessions.length; i++) {
            let index  = i
            if(index == 1) index = `<i class="fa-solid fa-trophy" color="gold"></i>`
            if(index == 2) index = `<i class="fa-medal fa-trophy" color="silver"></i>`
            if(index == 3) index = `<i class="fa-solid fa-award" color="sienna"></i>`
            let newSession = 
              `<tr>
                <th scope="row" class="settings-row">`+i+`</th>
                <td>`+session.username+`</td>
                <td>`+session.nationality+`</td>
                <td>`+session.time+`</td>
                <td>`+session.date+`</td>
              </tr>`
          }
          sessions.forEach(session => {
              
              newSession.textContent = session.time
              
              sessionsList.appendChild(newSession)
          });
      }
      
      // updateList(id);
    </script>

  </head>
  <body>
    <div id="wrapper">

      <header>
        {% include "menu.html" %}
      </header>
    
      <main>
        <section id="info">
          <h1>{{game[0].name}}</h1>
          <p> {{game[0].description}} </p>
          <p> {{game[0].released_date}} </p>
          <p> image vide {{game[0].image}} </p>
        </section>
        <div class="separator"></div>
        <section id="submenu">
          {% for ctg in ctgs %}
          <button class="button" onclick="updateList({{game[0].id_game}}, {{ctg.id_category}})">{{ctg.label}}</button>
          {% endfor %}
        </section>
        <div class="separator"></div>
        <section id="content" class="table">
          <table>
            <thead>
              <tr>
                <th scope="col" class="settings">#</th>
                <th scope="col">Joueurs</th>
                <th scope="col">Nationalités</th>
                <th scope="col">Scores</th>
                <th scope="col">Dates</th>
              </tr>
            </thead>
            <tbody id="litOfSessions">
            </tbody>
          </table>

        </section>
      </main>
    </div>
  </body>
</html>